<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Menú Batman</title>
<link rel="stylesheet" href="../statics/styles.css">
<script src="../js/script_bienvenida.js" defer></script>
</head>
<body>

<header class="header">
<h1>Menú Batman</h1>
<p>Bienvenido/a: <span id="nombreUsuario"></span></p>
<a href="../index.html" class="btn-primary">Inicio</a>
</header>

<div class="menu-batman">
    <div class="card">
        <img src="https://images.pexels.com/photos/3980364/pexels-photo-3980364.jpeg" alt="Gotham">
        <h3>Gotham</h3>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/6633/car-superhero-symbol-batman.jpg" alt="Batman">
        <h3>Batman</h3>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/3518953/pexels-photo-3518953.jpeg" alt="Joker">
        <h3>Joker</h3>
    </div>
</div>

</body>
</html>
