<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Menú One Piece</title>
<link rel="stylesheet" href="../statics/styles.css">
</head>
<body>

<header class="header">
<h1>Menú One Piece</h1>
<a href="../index.html" class="btn-primary">Inicio</a>
</header>

<div class="menu-onepiece">
    <div class="card"><img src="https://wallpapercave.com/wp/wp2756114.jpg" alt="Luffy"><h3>Luffy</h3></div>
    <div class="card"><img src="https://wallpapercave.com/wp/wp2747331.jpg" alt="Zoro"><h3>Zoro</h3></div>
    <div class="card"><img src="https://wallpapercave.com/wp/wp2747328.jpg" alt="Nami"><h3>Nami</h3></div>
</div>

</body>
</html>
