<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Menú Pokémon</title>
<link rel="stylesheet" href="../statics/styles.css">
</head>
<body>

<header class="header">
<h1>Menú Pokémon</h1>
<a href="../index.html" class="btn-primary">Inicio</a>
</header>

<div class="menu-pokemon">
    <div class="card"><img src="https://wallpaperaccess.com/full/256944.jpg" alt="Pikachu"><h3>Pikachu</h3></div>
    <div class="card"><img src="https://wallpaperaccess.com/full/258172.jpg" alt="Charizard"><h3>Charizard</h3></div>
    <div class="card"><img src="https://wallpaperaccess.com/full/285628.jpg" alt="Bulbasaur"><h3>Bulbasaur</h3></div>
</div>

</body>
</html>
